# For MySQL database
#jdbc.url = jdbc:mysql://127.0.0.1/market_log
# The JDBC username and password.
#jdbc.user = benz
jdbc.password = benz9545
# Name of the JDBC driver (may not be necessary)
#jdbc.driver = com.mysql.jdbc.Driver

# For H2 Embedded Database
jdbc.url = jdbc:h2:file:/home/jim/temp/h2/marketlog
jdbc.user =
jdbc.password =
jdbc.driver = org.h2.Driver